* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #3d405b;
    --secondary: #81b29a;
    --tertiary: #f2cc8f;
    --accent: #e07a5f;
    --white: #f4f1de;
    --spacer: 25px;
    --sm-spacer: 10px;
}

body {
    background: var(--primary);
    padding-top: 50px;
    font-family: 'Roboto', sans-serif;
    color: var(--primary);
    font-size: 16px;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

h1 {
    font-size: 45px;
    color: var(--tertiary);
    margin-bottom: var(--spacer);
    font-family: 'Yeseva One', cursive;
}

main {
    background: var(--white);
    padding: var(--spacer);
    border-bottom: var(--spacer) solid var(--tertiary);
}

button {
    background: var(--secondary);
    display: block;
    max-width: 70%;
    line-height: 1.3;
    padding: var(--sm-spacer);
    margin-bottom: var(--sm-spacer);
    border-radius: 5px;
    border: none;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    text-align: left;
}

.start-btn {
    font-size: 24px;
    margin: 50px auto;
    padding: var(--sm-spacer) var(--spacer);
}

#start-div {
    text-align: center;
}

h2 {
    font-size: 32px;
    margin: var(--spacer) 0;
}

#score-tracker {
    height: var(--spacer);
    width: 100%;
    display: flex;
    background: var(--tertiary);
}

.score-tracker-section {
    height: 100%;
    width: 5%;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-left: none;
}

.score-tracker-section:first-child {
    border: 2px solid rgba(0, 0, 0, 0.3);
}

.track-correct {
    background: var(--secondary);
}

.track-incorrect {
    background: var(--accent);
}

.quiz-header {
    display: none;
}

.timer {
    font-size: 45px;
    font-family: 'Yeseva One', cursive;
    color: var(--secondary);
}

.score-div {
    margin-bottom: var(--spacer);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.code-div {
    background: var(--tertiary);
    width: max-content;
    padding: var(--spacer);
    margin: var(--spacer);
    overflow: auto;
    white-space: pre;
    border: 2px solid rgba(0, 0, 0, 0.3);
    font-family: 'Monaco', 'Lucida Sans', 'Lucida Sans Regular', 'Arial', sans-serif;
}

.option {
    background: var(--secondary);
    display: block;
    max-width: 70%;
    line-height: 1.3;
    padding: var(--sm-spacer);
    margin-bottom: var(--sm-spacer);
    white-space: pre;
    border-radius: 5px;
    border: none;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    text-align: left;
}

button:hover {
    background: var(--primary);
    color: var(--white);
}

.input-form {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

#submit-score {
    margin: var(--spacer);
}

.highscores-div {
    display: flex;
    flex-flow: row wrap;
    margin: var(--spacer) auto;
    justify-content: space-around;
    align-items: flex-start;
}

.end-buttons {
    display: flex;
    flex-flow: column wrap;
}

.end-button {
    min-width: max-content;
    margin: var(--spacer);
}

.scores {
    background: var(--secondary);
    border: 2px solid rgba(0, 0, 0, 0.3);
    width: 70%;
    min-width: 725px;
}

li:nth-child(even) {
    background: var(--tertiary);
}

.scores li {
    list-style-type: none;
    padding: var(--sm-spacer);
}

/* MEDIA QUERIES */
/* tablets and smaller <1024px */
@media screen and (max-width: 1024px) {
    h1 {
        margin: var(--spacer);
    }
    main {
        min-height: 500px;
    }
    #start-div {
        margin-top: 100px;
    }
}

/* small tablets and smaller <768px */
@media screen and (max-width: 1024px) {
    .end-buttons {
        margin-top: var(--spacer);
        flex-flow: row wrap;
    }
}

/* large phones and smaller <575px */
@media screen and (max-width: 575px) {
    body {
        padding: 0;
        font-size: 14px;
    }

    .container {
        margin: 0;
    }

    main {
        margin: 0;
        padding: var(--sm-spacer);
        min-height: 800px;
    }

    h1 {
        font-size: 24px;
        margin: var(--spacer);
        text-align: center;
    }

    h2 {
        font-size: 20px;
        margin: var(--sm-spacer);
    }

    .score-div {
        margin-bottom: var(--spacer);
    }

    #score-tracker {
        height: var(--sm-spacer);
    }

    .score-tracker-section {
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-left: none;
    }

    .score-tracker-section:first-child {
        border: 1px solid rgba(0, 0, 0, 0.3);
    }

    .code-div {
        margin: var(--sm-spacer) auto;
    }

    .option {
        max-width: max-content;
    }

    .well-done {
        margin-top: 100px;
    }

    .scores {
        min-width: 100%;
    }
}