* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #3d405b;
    --secondary: #81b29a;
    --tertiary: #f2cc8f;
    --accent: #e07a5f;
    --white: #f4f1de;
    --spacer: 25px;
}

body {
    background: var(--primary);
    padding: 100px 200px;
    font-family: 'Roboto', sans-serif;
    color: var(--primary);
    font-size: 16px;
}

h1 {
    font-size: 45px;
    color: var(--tertiary);
    margin-bottom: var(--spacer);
    font-family: 'Yeseva One', cursive;
}

main {
    background: var(--white);
    padding: var(--spacer);
    border-bottom: var(--spacer) solid var(--tertiary);
}

.border-correct {
    border-bottom: var(--spacer) solid var(--secondary);
}

.border-incorrect {
    border-bottom: var(--spacer) solid var(--accent);
}

button {
    background-color: var(--secondary);
    display: block;
    max-width: 70%;
    line-height: 1.3;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    text-align: left;
}

.start-btn {
    font-size: 24px;
    margin: 50px auto;
    padding: 10px var(--spacer);
}

#start-div {
    text-align: center;
}

h2 {
    font-size: 32px;
    margin: var(--spacer) 0;
}

.quiz-header {
    display: flex;
    opacity: 0;
    justify-content: space-between;
    align-items: center;
}

.timer {
    font-size: 45px;
    font-family: 'Yeseva One', cursive;
    color: var(--accent);
    margin-left: var(--spacer);
    margin-bottom: var(--spacer);
}

.code-div {
    background: var(--tertiary);
    max-width: max-content;
    padding: var(--spacer);
    margin: var(--spacer);
    border: 2px solid rgba(0, 0, 0, 0.3);
    font-family: 'Monaco', 'Lucida Sans', 'Lucida Sans Regular', 'Arial', sans-serif;
}

.option {
    background-color: var(--secondary);
    display: block;
    max-width: 70%;
    line-height: 1.3;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    text-align: left;
}

button:hover {
    background: var(--primary);
    color: var(--white);
}

.scores {
    background-color: var(--secondary);
    border: 2px solid rgba(0, 0, 0, 0.3);
    margin: var(--spacer) auto;
    width: 50%;
}

li:nth-child(even) {
    background-color: var(--tertiary);
}

.scores li {
    list-style-type: none;
    padding: var(--spacer);
}